
body {
    text-align: center;
    background: linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgb(0, 105, 105) 100%);
    font-family: 'Nova Cut';
}

h1 {
    font-family: 'Monoton';
    font-size: 80px;
    margin: 0.2em;
}

h2 {
    margin: 1.6em 0 0.6em;
    font-size: 30px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

.size-form {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 200px;
  font-family: 'Cuprum';
}

.size-label {
    font-size: 18px;
    margin-right: 20px;
}

.size-input {
    font-size: 20px;
    font-family: inherit;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(153, 218, 255, 1);
}

.size-btn {
    padding: 10px 50px;
    border: 1px solid #383838;
    border-radius: 10px;
    background-color: rgb(92, 181, 181);
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Cuprum';
}

.size-btn:active {
    border: 1px solid white;
    color: white;
    background-color: rgb(15, 173, 173);
}

.color-input {
    height: 40px;
    border: 1px #8e8e8e solid;
    cursor: pointer;
}

.color-input:active {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
}

.clear {
    display: none;
    margin: 0px 0px 20px;
}

.table {
    background-color: white;
    cursor: url('pencil.svg');
    border-collapse: collapse;
    margin: 0 auto;
}

.table,
tr,
td {
    border: 1px solid black;
}


tr {
    height: 20px;
}

td {
    width: 20px;
}
